<!DOCTYPE html>

<html lang="vi">
<head>

  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">  
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="msapplication-tap-highlight" content="no">
  <meta name="description" content="">
  <meta name="keywords" content="">
  <title>Trang Chủ</title>


  <!-- CORE CSS-->
  <link href="css/materialize.min.css" type="text/css" rel="stylesheet" media="screen,projection">
  <link href="css/materializecss-icon.css" type="text/css" rel="stylesheet">
  <link href="css/style.min.css" type="text/css" rel="stylesheet" media="screen,projection">
  <!-- Custome CSS-->    
  <link href="css/custom.min.css" type="text/css" rel="stylesheet" media="screen,projection">

  <!-- INCLUDED PLUGIN CSS ON THIS PAGE -->
  <link href="css/prism.css" type="text/css" rel="stylesheet" media="screen,projection">
  <link href="css/perfect-scrollbar.css" type="text/css" rel="stylesheet" media="screen,projection">
  <link href="css/chartist.min.css" type="text/css" rel="stylesheet" media="screen,projection">
  <link rel="stylesheet" href="https://unpkg.com/flatpickr/dist/flatpickr.min.css">
  <link rel="stylesheet" type="text/css" href="css/sweetalert.css">
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/Dropify/0.2.1/css/dropify.min.css">
</head>

<body class="loaded">
  <!-- Start Page Loading -->
  <div id="loader-wrapper">
      <div id="loader"></div>        
      <div class="loader-section section-left"></div>
      <div class="loader-section section-right"></div>
  </div>
  <!-- End Page Loading -->

  <!-- //////////////////////////////////////////////////////////////////////////// -->

  <!-- START HEADER -->
  <header id="header" class="page-topbar">
        <!-- start header nav-->
        <div class="navbar-fixed">
            <nav class="navbar-color">
                <div class="nav-wrapper">
                    <ul class="left">                      
                      <li><h1 class="logo-wrapper"><a href="/" class="brand-logo darken-1"><img src="images/materialize-logo.png" alt="materialize logo"></a> <span class="logo-text">Logo</span></h1></li>
                    </ul>
                    <div class="header-search-wrapper hide-on-med-and-down">
                        <i class="mdi-action-search"></i>
                        <input type="text" name="Search" class="header-search-input z-depth-2" placeholder="Tìm Kiếm">
                    </div>
                    <ul class="right hide-on-med-and-down">
                        <% if(user){%>

                        <li><a href="javascript:void(0);" class="waves-effect waves-block waves-light translation-button dropdown-button" data-activates="notifications-dropdown"><img src="<%= user.photo %>" alt="<%= user.name %>" class="circle responsive-img valign profile-image center">
                            </a>

                            <ul id="notifications-dropdown" class="dropdown-content" style="white-space: nowrap; position: absolute; top: 64px; left: 1609px; opacity: 1; display: none;">
                                
                                  <li class="divider"></li>
                                  <li>
                                    <a href="/"><i class="mdi-action-home"></i> Trang Cá Nhân</a>
                                    
                                  </li>
                                  <li>
                                    <a href="/"><i class="mdi-action-add-shopping-cart"></i> Giỏ Hàng</a>
                                   
                                  </li>
                                  <li>
                                    <a href="/"><i class="mdi-action-favorite-outline"></i> Danh Sách Yêu Thích</a>
                                   
                                  </li>
                                  
                                  <li>
                                    <a href="/"><i class="mdi-action-bookmark-outline"></i> Đơn Hàng Của Tôi</a>
                                    
                                  </li>
                                  <li>
                                    <a href="/"><i class="mdi-action-settings"></i> Cài Đặt</a>
                                    
                                  </li>
                                  
                                  <li>
                                    <a href="/logout"><i class="mdi-action-input"></i> Đăng Xuất</a>
                                    
                                  </li>
                              </ul>
                          </li> 
 
                        <li><a href="javascript:void(0);" class="waves-effect waves-block waves-light translation-button" data-activates="notifications-dr"><i class="mdi-social-notifications"><small class="notification-badge">5</small></i>
                            </a>

                            <ul id="notifications-dr" class="dropdown-content" style="white-space: nowrap; position: absolute; top: 64px; left: 1609px; opacity: 1; display: none;">
                                  <li>
                                    <span class="new badge">5</span>
                                  <li class="divider"></li>
                                  <li class="row">
                                    <div class="col s3 m3 l3">
                                        <img src="/images/avatar.jpg" class="responsive-img" alt="" />
                                    </div>

                                    <div class="col s9 m9 l9">
                                        <p>Đã đặt hàng thành công</p>
                                        <br>
                                         <small><time class="media-meta" datetime="2015-06-12T20:50:48+08:00">2 giờ trước</time></small>
                                    </div>
                                    
                                  </li>
                                 
                              </ul>
                          </li> 
                        <%}%>

                        <% if(!user){%>
                            <li><a href="/login" class="waves-effect waves-block waves-light translation-button">Đăng Nhập</a>
                        <%}%>
                        
                        <li><a href="javascript:void(0);" class="waves-effect waves-block waves-light translation-button" data-activates="translation-dropdown"><img src="images/vietnam.png" alt="VN"></a>
                      <ul id="translation-dropdown" class="dropdown-content" style="white-space: nowrap; position: absolute; top: 64px; left: 1661px; opacity: 1; display: none;">
                      <li>
                        <a href="/"><img src="images/vietnam.png" alt="Vietnamese">  <span class="language-select">Tiếng Việt</span></a>
                      </li>
                      <li>
                        <a href="/"><img src="images/United-States.png" alt="English">  <span class="language-select">English</span></a>
                      </li>
                     
                      <li>
                        <a href="/"><img src="images/France.png" alt="French">  <span class="language-select">French</span></a>
                      </li>
                      <li>
                        <a href="/"><img src="images/China.png" alt="Chinese">  <span class="language-select">Chinese</span></a>
                      </li>
                      <li>
                        <a href="/"><img src="images/Germany.png" alt="German">  <span class="language-select">German</span></a>
                      </li>
                      
                    </ul>
                        </li>
                        <li><a href="javascript:void(0);" class="waves-effect waves-block waves-light toggle-fullscreen"><i class="mdi-action-settings-overscan"></i></a>
                        </li>       
                        
                    </ul>
                    <!-- translation-button -->
                    
                    <!-- notifications-dropdown -->
                    
                </div>
            </nav>
        </div>
        <!-- end header nav-->
  </header>
  <!-- END HEADER -->

  <!-- //////////////////////////////////////////////////////////////////////////// -->

  <!-- START MAIN -->
  <div id="main">
    <!-- START WRAPPER -->
    <div class="wrapper">

      <!-- START CONTENT -->
 <section id="content">

        <!--start container-->
        <div class="container">
          <div class="section">
                <div id="card-widgets" class="seaction">
              <div class="row">
                        <div id="profile-page-wall" class="col s12 m10">
                <!-- profile-page-wall-share -->
                <div id="profile-page-wall-share" class="row">
                  <div class="col s12">
                    <ul class="tabs tab-profile z-depth-1 light-blue" style="width: 100%;">
                      <li class="tab col s3"><a class="white-text waves-effect waves-light active" href="#UpdateStatus"><i class="mdi-editor-border-color"></i> Qua WEBX</a>
                      </li>
                      <li class="tab col s3"><a class="white-text waves-effect waves-light" href="#AddPhotos"><i class="mdi-image-camera-alt"></i> Facebook</a>
                      </li>
                      <li class="tab col s3"><a class="white-text waves-effect waves-light" href="#CreateAlbum"><i class="mdi-image-photo-album"></i> Email</a>
                      </li>                      
                    <div class="indicator" style="right: 713px; left: 0px;"></div></ul>
                    <!-- UpdateStatus-->
                    <div id="UpdateStatus" class="tab-content col s12  grey lighten-4" style="display: block;">
                      <div class="row">
                        <div class="col s2">
                          <img src="images/avatar.jpg" alt="" class="circle responsive-img valign profile-image-post">
                        </div>
                        <div class="input-field col s10">
                          <textarea id="textarea" row="2" class="materialize-textarea"></textarea>
                          <label for="textarea" class="">Hãy gửi lại lời nhắn tại Bưu Điện Tương Lai...</label>
                        </div>
                      </div>
                      <div class="row">
                        
                        <div class="col s12 m12 l12 right-align">
                           <!-- Dropdown Trigger -->
                            <a class="dropdown-button btn" href="#" data-activates="profliePost"><i class="mdi-action-language"></i> Công Khai</a><ul id="profliePost" class="dropdown-content">
                              <li><a href="#!"><i class="mdi-action-language"></i> Công Khai</a></li>
                              <li><a href="#!"><i class="mdi-action-face-unlock"></i> Bạn Bè</a></li>                              
                              <li><a href="#!"><i class="mdi-action-lock"></i> Riêng Tư</a></li>
                            </ul>

                            <!-- Dropdown Structure -->
                            

                            <a class="waves-effect waves-light btn modal-trigger" href="#modal1"><i class="mdi-maps-rate-review left"></i>Gửi Tới</a>

                            <div id="modal1" class="modal">
                                 <div class="modal-content">
                                      
                                        <div class="row">
                                                <div class="col s10 m8 l11">
                                                    <div class="header-search-wrapper hide-on-med-and-down">
                                                    <i class="mdi-action-search"></i>
                                                    <input name="search_friend" class="header-search-input z-depth-2" placeholder="Tìm Kiếm" type="text">
                                                    </div>
                                                </div>
                                        </div>
                                        <div class="row">
                                            <p class="left"> Đã chọn <span id="selected_friend_count">0</span>/20 bạn bè</p>
                                        </div>
                                        <div class="row card-panel" id="list_friends" style="height: 100%;max-height:500px;overflow-y: auto">

                                                <div class="col s12 m4 l4 friend" id="1">
                                                    <div class="row valign-wrapper">
                                                        <div class="col s4 m4">
                                                        <img src="images/avatar.jpg" alt="" width="45px" height="45px" class="circle valign">
                                                      </div>
                                                      <div class="col s8 m8">
                                                        <span class="black-text left">Nguyễn Hữu Thắng</span>
                                                      </div>
                                                    </div>
                                                </div>

                                                 <div class="col s12 m4 l4 friend" id="2">
                                                    <div class="row valign-wrapper">
                                                        <div class="col s4 m4">
                                                        <img src="images/avatar.jpg" alt="" width="45px" height="45px" class="circle valign">
                                                      </div>
                                                      <div class="col s8 m8">
                                                        <span class="black-text left">Nguyễn Thị Tẹt</span>
                                                      </div>
                                                    </div>
                                                </div>


                                                 <div class="col s12 m4 l4 friend" id="3">
                                                    <div class="row valign-wrapper">
                                                        <div class="col s4 m4">
                                                        <img src="images/avatar.jpg" alt="" width="45px" height="45px" class="circle valign">
                                                      </div>
                                                      <div class="col s8 m8">
                                                        <span class="black-text left">Trần Văn Đại</span>
                                                      </div>
                                                    </div>
                                                </div>


                                                 <div class="col s12 m4 l4 friend">
                                                    <div class="row valign-wrapper">
                                                        <div class="col s4 m4">
                                                        <img src="images/avatar.jpg" alt="" width="45px" height="45px" class="circle valign">
                                                      </div>
                                                      <div class="col s8 m8">
                                                        <span class="black-text left">Lê Thị Nam</span>
                                                      </div>
                                                    </div>
                                                </div>

                                                
                                        </div>

                                        <div class="row">
                                        <p class="left">Thời Gian Gửi</p>
                                        <input class="flatpickr flatpickr-input active" placeholder="Select Date.." readonly="readonly" type="text">
                                        </div>

                                        <div class="row" id="video_url">
                                            <div class="input-field col s12 m12 l12">
                                              <i class="mdi-av-video-collection prefix"></i>
                                              <input id="icon_prefix3" type="text" placeholder=" https://www.youtube.com/watch?v=dRLq2mc5IZk" name="video_url">
                                              <label for="icon_prefix3" class="">Link Video</label>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col s12 m12 share-icons">
                                              <a href="#" class="upload_photo"><i class="mdi-image-camera-alt"></i></a>
                                              <a href="#" class="video_url"><i class="mdi-av-videocam"></i></a>
                                              <a href="#"><i class="mdi-action-lock add-question"></i></a>
                                            </div>
                                        </div>

                                        <div class="row" id="upload_photo">
                                          <div class="col s12 m12 l12">
                                              
                                                 <input id="file" class="dropify" data-allowed-file-extensions="jpg jpeg png gif" data-show-errors="true" data-max-file-size-preview="3M" type="file" name="file" />
                                             
                                            </div>
                                       </div>


                                       <div class="row" id="facebook_question">
                                        <blockquote style="text-align: left">Lưu ý: Khi bật chức năng đặt câu hỏi, điều này đồng nghĩa với việc bạn cho phép bất kỳ ai, những người có thể trả lời đúng tất cả những câu hỏi mà bạn đưa ra có quyền được đọc nội dung tin nhắn mà bạn gửi!</blockquote>
                                          
                                          <div class="row center add_question_facebook">
                                                <a class="btn-floating waves-effect waves-light"><i class="mdi-content-add"></i></a>
                                          </div>
                                       </div>




                                </div>
                  <div class="modal-footer">
                    <a href="#" class="waves-effect waves-red btn-flat modal-action modal-close left">Đóng</a>
                    
                    <button class="btn cyan waves-effect waves-light right" type="submit" name="action">Gửi
                        <i class="mdi-content-send right"></i>
                    </button>
                            
                  </div>
                </div>



                


                        </div>
                      </div>
                    </div>
                    <!-- Send via Facebook -->
                    <div id="AddPhotos" class="tab-content col s12  grey lighten-4" style="display: none;">
                      <div class="row">
                        <div class="col s2">
                          <img src="images/avatar.jpg" alt="" class="circle responsive-img valign profile-image-post">
                        </div>
                        <div class="input-field col s10">
                          <textarea id="textarea" row="2" class="materialize-textarea"></textarea>
                          <label for="textarea" class="">Gửi lời nhắn qua Facebook</label>
                        </div>
                      </div>
                      <div class="row">
                        
                        <div class="col s12 m12 l12 right-align">
                           <!-- Dropdown Trigger -->
                            <a class="dropdown-button btn" href="#" data-activates="profliePost2"><i class="mdi-action-language"></i> Công Khai</a><ul id="profliePost2" class="dropdown-content">
                              <li><a href="#!"><i class="mdi-action-language"></i> Công Khai</a></li>
                              <li><a href="#!"><i class="mdi-action-face-unlock"></i> Bạn Bè</a></li>                              
                              <li><a href="#!"><i class="mdi-action-lock"></i> Riêng Tư</a></li>
                            </ul>

                            <!-- Dropdown Structure -->
                            

                            <a class="waves-effect waves-light btn modal-trigger" href="#modal3"><i class="mdi-maps-rate-review left"></i>Gửi Tới</a>

                            <!-- modal send Facebook -->

                <div id="modal3" class="modal">
                                 <div class="modal-content">
                                      
                                        <div class="row">
                                                <div class="col s10 m8 l11">
                                                    <div class="header-search-wrapper">
                                                    <i class="mdi-social-person-outline"></i>
                                                    <input name="facebook_id" class="header-search-input z-depth-2" placeholder="Facebook ID" type="text" style="background: #fff">
                                                    </div>
                                                </div>
                                        </div>
                                       

                                        <div class="row">
                                        <p class="left">Thời Gian Gửi</p>
                                        <input class="flatpickr flatpickr-input active" placeholder="Select Date.." readonly="readonly" type="text">
                                        </div>

                                        <div class="row" id="video_url">
                                            <div class="input-field col s12 m12 l12">
                                              <i class="mdi-av-video-collection prefix"></i>
                                              <input id="icon_prefix3" type="text" placeholder=" https://www.youtube.com/watch?v=dRLq2mc5IZk" name="video_url">
                                              <label for="icon_prefix3" class="">Link Video</label>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col s12 m12 share-icons">
                                              <a href="#" class="upload_photo"><i class="mdi-editor-attach-file"></i></a>
                                              
                                              <a href="#"><i class="mdi-action-lock"></i></a>
                                            </div>
                                        </div>

                                        <div class="row" id="upload_photo">
                                          <div class="col s12 m12 l12">
                                              
                                                 <input id="file" class="dropify" data-allowed-file-extensions="jpg jpeg png gif" data-show-errors="true" data-max-file-size-preview="3M" type="file" name="file" />
                                             
                                            </div>
                                       </div>




                                </div>
                  <div class="modal-footer">
                    <a href="#" class="waves-effect waves-red btn-flat modal-action modal-close left">Đóng</a>
                    
                    <button class="btn cyan waves-effect waves-light right" type="submit" name="action">Gửi
                        <i class="mdi-content-send right"></i>
                    </button>
                            
                  </div>
                </div>

                <!-- end modal send Facebook -->
                        </div>
                      </div>
                    </div>
                    <!-- CreateAlbum -->
                    <div id="CreateAlbum" class="tab-content col s12  grey lighten-4" style="display: none;">
                      <div class="row">
                        <div class="col s2">
                          <img src="images/avatar.jpg" alt="" class="circle responsive-img valign profile-image-post">
                        </div>
                        <div class="input-field col s10">
                          <textarea id="textarea" row="2" class="materialize-textarea"></textarea>
                          <label for="textarea" class="">Nội Dung Email</label>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col s12 m6 share-icons">
                          <a href="#"><i class="mdi-image-camera-alt"></i></a>
                          <a href="#"><i class="mdi-action-account-circle"></i></a>
                          <a href="#"><i class="mdi-hardware-keyboard-alt"></i></a>
                          <a href="#"><i class="mdi-action-lock"></i></a>
                        </div>
                        <div class="col s12 m6 right-align">
                           <!-- Dropdown Trigger -->
                            <a class="dropdown-button btn" href="#" data-activates="profliePost3"><i class="mdi-action-language"></i> Công Khai</a><ul id="profliePost3" class="dropdown-content">
                              <li><a href="#!"><i class="mdi-action-language"></i> Công Khai</a></li>
                              <li><a href="#!"><i class="mdi-action-face-unlock"></i> Bạn Bè</a></li>                              
                              <li><a href="#!"><i class="mdi-action-lock"></i> Riêng Tư</a></li>
                            </ul>

                            <!-- Dropdown Structure -->
                            

                            <a class="waves-effect waves-light btn modal-trigger" href="#modal2"><i class="mdi-maps-rate-review left"></i>Gửi Tới</a>

                            <!-- modal send email -->

                <div id="modal2" class="modal">
                                 <div class="modal-content">
                                      
                                        <div class="row">
                                                <div class="col s10 m8 l11">
                                                    <div class="header-search-wrapper">
                                                    <i class="mdi-communication-quick-contacts-mail"></i>
                                                    <input name="email_address" class="header-search-input z-depth-2" placeholder="Email" type="text" style="background: #fff">
                                                    </div>
                                                </div>
                                        </div>

                                        <div class="row section" id="selected_email">
                                              
                                        </div>
                                       
                                        <div class="row card-panel" id="list_friends" style="height: 100%;max-height:500px;overflow-y: auto">

                                                <div class="input-field col s12 m12 l12">
                                                  
                                                  <input name="email_subject" id="icon_prefix2" type="text">
                                                  <label for="icon_prefix" class="active">Chủ Đề</label>
                                                </div>
                                                  
                                        </div>

                                        <div class="row">
                                        <p class="left">Thời Gian Gửi</p>
                                        <input class="flatpickr flatpickr-input active" placeholder="Select Date.." readonly="readonly" type="text">
                                        </div>

                                        <div class="row" id="video_url">
                                            <div class="input-field col s12 m12 l12">
                                              <i class="mdi-av-video-collection prefix"></i>
                                              <input id="icon_prefix3" type="text" placeholder=" https://www.youtube.com/watch?v=dRLq2mc5IZk" name="video_url">
                                              <label for="icon_prefix3" class="">Link Video</label>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col s12 m12 share-icons">
                                              <a href="#" class="upload_photo"><i class="mdi-editor-attach-file"></i></a>
                                              
                                              <a href="#"><i class="mdi-action-lock"></i></a>
                                            </div>
                                        </div>

                                        <div class="row" id="upload_photo">
                                          <div class="col s12 m12 l12">
                                              
                                                 <input id="file" class="dropify" data-allowed-file-extensions="jpg jpeg png gif" data-show-errors="true" data-max-file-size-preview="3M" type="file" name="file" />
                                             
                                            </div>
                                       </div>




                                </div>
                  <div class="modal-footer">
                    <a href="#" class="waves-effect waves-red btn-flat modal-action modal-close left">Đóng</a>
                    
                    <button class="btn cyan waves-effect waves-light right" type="submit" name="action">Gửi
                        <i class="mdi-content-send right"></i>
                    </button>
                            
                  </div>
                </div>

                <!-- end modal send EMail -->
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <!--/ profile-page-wall-share -->

                <!-- profile-page-wall-posts -->
                <div id="profile-page-wall-posts" class="row">
                  <div class="col s12">
                      <!-- medium -->
                      <div id="profile-page-wall-post" class="card">
                        <div class="card-profile-title">
                          <div class="row">
                            <div class="col s1">
                              <img src="images/avatar.jpg" alt="" class="circle responsive-img valign profile-post-uer-image">                        
                            </div>
                            <div class="col s10">
                              <p class="grey-text text-darken-4 margin">John Doe</p>
                              <span class="grey-text text-darken-1 ultra-small">Shared publicly  -  26 Jun 2015</span>
                            </div>
                            <div class="col s1 right-align">
                              <i class="mdi-navigation-expand-more"></i>
                            </div>
                          </div>
                          <div class="row">
                            <div class="col s12">
                              <p>I am a very simple wall post. I am good at containing <a href="#">#small</a> bits of <a href="#">#information</a>.  I require little more information to use effectively.</p>
                            </div>
                          </div>
                        </div>
                        <div class="card-image profile-medium">                          
                          <img src="images/2.jpg" alt="sample" class="responsive-img profile-post-image profile-medium">                        
                          <span class="card-title">Card Title</span>
                        </div>
                        <div class="card-content">
                          <p>I am a very simple card. I am good at containing small bits of information. I am convenient because I require little markup to use effectively.</p>
                        </div>
                        <div class="card-action row">
                          <div class="col s4 card-action-share">
                            <a href="#"><i class="mdi-action-favorite-outline"></i></a>                          
                            <a href="#"><i class="mdi-social-share"></i></a>
                          </div>
                          
                          <div class="input-field col s8 margin">
                            <input id="profile-comments" class="validate margin" type="text">
                            <label for="profile-comments" class="">Bình luận</label>
                          </div>                        
                        </div>                        
                      </div>

                      <!-- medium video -->
                      <div id="profile-page-wall-post" class="card">
                        <div class="card-profile-title">
                          <div class="row">
                            <div class="col s1">
                              <img src="images/avatar.jpg" alt="" class="circle responsive-img valign profile-post-uer-image">                        
                            </div>
                            <div class="col s10">
                              <p class="grey-text text-darken-4 margin">John Doe</p>
                              <span class="grey-text text-darken-1 ultra-small">Shared publicly  -  26 Jun 2015</span>
                            </div>
                            <div class="col s1 right-align">
                              <i class="mdi-navigation-expand-more"></i>
                            </div>
                          </div>
                          <div class="row">
                            <div class="col s12">
                              <p>I am a very simple wall post. I am good at containing <a href="#">#small</a> bits of <a href="#">#information</a>.  I require little more information to use effectively.</p>
                            </div>
                          </div>
                        </div>
                        <div class="card-image profile-medium">
                          <div class="video-container no-controls">
                            <iframe src="https://www.youtube.com/embed/10r9ozshGVE" allowfullscreen="" frameborder="0" height="360" width="640"></iframe>
                          </div>                          
                          <span class="card-title">Card Title</span>
                        </div>
                        <div class="card-content">
                          <p>I am a very simple card. I am good at containing small bits of information. I am convenient because I require little markup to use effectively.</p>
                        </div>
                        <div class="card-action row">
                          <div class="col s4 card-action-share">
                            <a href="#">Like</a>                          
                            <a href="#">Share</a>
                          </div>
                          
                          <div class="input-field col s8 margin">
                            <input id="profile-comments" class="validate margin" type="text">
                            <label for="profile-comments" class="">Comments</label>
                          </div>                        
                        </div>                        
                      </div>                      


                  </div>                  
                </div>
                <!--/ profile-page-wall-posts -->

              </div>

              </div>
              
            </div>
          </div>
          <!-- Floating Action Button -->
            <div class="fixed-action-btn horizontal" style="bottom: 50px; right: 19px;">
                <a class="btn-floating btn-large">
                  <i class="mdi-action-stars"></i>
                </a>
                <ul>
                  <li><a href="#" class="btn-floating red"><i class="large mdi-communication-live-help"></i></a></li>
                  <li><a href="#" class="btn-floating yellow darken-1"><i class="large mdi-device-now-widgets"></i></a></li>
                  <li><a href="#" class="btn-floating green"><i class="large mdi-editor-insert-invitation"></i></a></li>
                  <li><a href="#"></i></a></li>
                </ul>
            </div>
            <!-- Floating Action Button -->
        </div>
        <!--end container-->
</section>
      <!-- END CONTENT -->
    </div>
    <!-- END WRAPPER -->

  </div>
  <!-- END MAIN -->



  <!-- //////////////////////////////////////////////////////////////////////////// -->

  <!-- START FOOTER -->
  <footer class="page-footer">
    <div class="footer-copyright">
      <div class="container">
        <span>Copyright © 2017 <a class="grey-text text-lighten-4" href="/" target="_blank">NIMKID</a> All rights reserved.</span>
        <span class="right"> Design and Developed by <a class="grey-text text-lighten-4" href="/">Hữu Thắng</a></span>
        </div>
    </div>
  </footer>
  <!-- END FOOTER -->



    <!-- ================================================
    Scripts
    ================================================ -->
    
    <!-- jQuery Library -->
    <script type="text/javascript" src="js/jquery-1.11.2.min.js"></script>    
    <!--materialize js-->
    <script type="text/javascript" src="js/materialize.min.js"></script>
    <!--prism
    <script type="text/javascript" src="js/prism/prism.js"></script>-->
    <!--scrollbar-->
    <script type="text/javascript" src="js/perfect-scrollbar.min.js"></script>
    <!-- chartist -->
    <script type="text/javascript" src="js/chartist.min.js"></script>   
    <!-- masonry -->
    <script src="js/masonry.pkgd.min.js"></script>
    <!-- imagesloaded -->
    <script src="js/imagesloaded.pkgd.min.js"></script>    
    
    <!--plugins.js - Some Specific JS codes for Plugin Settings-->
    <script type="text/javascript" src="js/plugins.min.js"></script>
    <script src="https://unpkg.com/flatpickr"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Dropify/0.2.1/js/dropify.min.js"></script>
    <script type="text/javascript" src="js/sweetalert.js"></script>
    <!--custom-script.js - Add your own theme custom JS-->
    <script type="text/javascript" src="js/custom-script.js"></script>


    <script type="text/javascript">
    /*
     * Masonry container for blog page
     */
    var $containerBlog = $("#blog-posts");
    $containerBlog.imagesLoaded(function() {
      $containerBlog.masonry({
        itemSelector: ".blog",
        columnWidth: ".blog-sizer",
      });
    });
    </script>

    <script type="text/javascript">
        $(document).ready(function(){
            var num_friends = 0;
            var list = [];
            $('.friend').click(function(){
                var id = $(this).attr("id");
                if(list.indexOf(id) != -1){
                    list.splice(list.indexOf(id),1);
                    num_friends -= 1;
                }
                else{
                    num_friends += 1;
                    list.push(id);
                    
                }
                
                

               $(this).toggleClass("selected_friend");

               $('span#selected_friend_count').text(num_friends.toString());
            });

            $('.upload_photo').click(function(){
                    $('div#upload_photo').slideToggle("slow");
            });
            $('a.video_url').click(function(){
                    $('div#video_url').slideToggle("slow");
            });


            $('input[name="search_friend"]').keyup(function(){
                     var filter = this.value.toLowerCase();
                     $('.friend span').each(function(){
                        var name = $(this).text().toLowerCase()
                            if(name.indexOf(filter) < 0){
                                $(this).parent().parent().parent().fadeOut();
                            }
                            else{
                                $(this).parent().parent().parent().fadeIn();
                            }
                     });
            });

            var color = ["red","green","pink","blue","brown","grey","teal"];
             $("input[name='email_address']").keydown(function(event){ 
                    if(event.which == 13){
                        var email = this.value;
                        if(this.value.length > 6 && this.value.indexOf("@") != -1 && this.value.indexOf(".") != -1){
                            $('div#selected_email').append('<div class="chip '+color[Math.floor(Math.random() * color.length)]+' white-text">'+ email +'<i class="material-icons mdi-navigation-close"></i></div>');
                            this.value = "";
                        }
                        else{
                            swal({
                                title: "Lỗi",
                                text: "Định dạng Email không đúng",
                                type: "error",
                                timer: 3000
                            });
                        }
                        
                    }

            });


             $('.add-question').click(function(){
                    $(this).toggleClass('mdi-action-lock-open');
                    $('div#facebook_question').slideToggle("slow");
             });

             $('.add_question_facebook').click(function(){
                    $(this).parent().append('<div class="row"><div class="input-field col s6"><input id="input_text" class="" type="text"><label for="input_text" class="">Câu hỏi</label></div><div class="input-field col s6"><input id="input_text" length="10" class="" type="text"><label for="input_text" class="">Câu trả lời</label></div></div>');
             });
        });

    </script>

    <script type="text/javascript">
    $(".flatpickr").flatpickr({
          dateFormat: 'd.m.Y : H:i',
          locale: {
            firstDayOfWeek: 1,
            weekdays: {
              shorthand: ['CN', 'T2', 'T3', 'T4', 'T5', 'T6', 'T7'],
              longhand: ['Chủ nhật', 'Thứ hai', 'Thứ ba', 'Thứ tư', 'Thứ năm', 'Thứ sáu', 'Thứ bảy']       
            }, 
            months: {
              shorthand: ['Th1', 'Th2', 'Th3', 'Th4', 'Th5', 'Th6', 'Th7', 'Th8', 'Th9', 'Th10', 'Th11', 'Th12'],
              longhand: ['Tháng một', 'Tháng hai', 'Tháng ba', 'Tháng tư', 'Tháng năm', 'Tháng sáu', 'Tháng bảy', 'Tháng tám', 'Tháng chín', 'Tháng mười', 'Tháng 11', 'Tháng 12']
            },
          },
          minDate: "today",
          enableTime: true
    });
</script>

<script type="text/javascript">
        $('.dropify').dropify({
              messages: {
                  'default': 'Kéo Thả hoặc Click để Tải File',
                  'replace': 'Kéo Thả hoặc Click để thay thế File',
                  'remove':  'Xóa',
                  'error':   'Lỗi rùi!.'
              },
              error: {
                  'fileSize': 'Dung lượng File lớn hơn ({{ value }} cho phép).',
                  'minWidth': 'Chiều rộng ảnh nhỏ hơn so với ({{ value }}}px yêu cầu).',
                  'maxWidth': 'Chiều rộng ảnh lớn hơn so với ({{ value }}}px cho phép).',
                  'minHeight': 'Chiều cao ảnh nhỏ hơn so với ({{ value }}}px yêu cầu).',
                  'maxHeight': 'Chiều cao ảnh lớn hơn so với ({{ value }}px cho phép).',
                  'imageFormat': 'Định dạng ảnh không hợp lệ. Chỉ cho phép :({{ value }}).'
              }
        });
</script>



<div class="hiddendiv common"></div><div class="drag-target" style="left: 0px; touch-action: pan-y; -webkit-user-drag: none; -webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></div><div class="drag-target" style="touch-action: pan-y; -webkit-user-drag: none; -webkit-tap-highlight-color: rgba(0, 0, 0, 0); right: 0px;"></div></body></html>